@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}
body > * {
    width: 96%;
    margin: .75rem 2%;
}
#title {
    padding: 0 0 .75rem 0;
    border-bottom: .125rem solid lightgray;
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: normal;
}
#subtitle {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: lighter;
}
#container {
    display: inline-block;
}

/* animated-heat-map */

.animated-heat-map {
    position: relative;
}
.ahm-hidden {
    display: none !important;
}
.ahm-controls {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #aaa;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.ahm-control {
    display: inline-block;
    margin-right: 1rem;
}
.ahm-control label {
    display: flex;
    align-items: center;
    float: left;
    clear: left;
}
.ahm-control input {
    margin-right: .5rem;
}
.ahm-legend {
    position: absolute;
    top: 3rem;
    left: 0;
}
